header {
  padding: 20px;
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* ======== Nav Mobile ======== */
    & .nav-mobile {
      display: block;
      cursor: pointer;
      & img {
        width: 100%;
        vertical-align: middle;
      }
    }

    /* ======== Nav Brand ======== */
    & .nav-brand {
      & a {
        font-size: 2rem;
        text-decoration: none;
        color: var(--black);
      }
    }

    /* ======== Nav Target ======== */
    & .nav-target {
      display: flex;
      align-items: center;

      & ul {
        list-style: none;
        display: none;

        & li {
          & a {
            text-decoration: none;
            display: flex;
            padding: 14px 0;
            font-size: 0.95rem;
            align-items: center;
            text-transform: capitalize;
            transition: 0.3s all ease;
            color: var(--gray);
          }

          & a:hover {
            color: var(--black);
          }

          & .link-icon {
            margin-left: 0.6rem;

            & img {
              width: 100%;
              vertical-align: middle;
            }
          }
        }

        /* ======== Dropdown ======== */
        & .dropdown-list {
          position: absolute;
          top: 100%;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
          padding: 1rem 1.5rem;
          display: none;
          margin-top: 0.5rem;

          & .dropdown-link {
            padding: 8px 0;
            cursor: pointer;
            font-weight: 500;
            color: var(--gray);
            text-decoration: none;
            transition: 0.3s all;
            display: flex;
            align-items: center;
            white-space: wrap;

            & span {
              font-size: 1rem;
              text-transform: capitalize;
              color: var(--gray);
            }
            & span:hover {
              color: var(--black);
            }

            & .dropdown-icon {
              margin-right: 1rem;
            }
          }
        }
        & .dropdown-list.active {
          display: block;
        }
        & .dropdown-list.left {
          right: 80%;
        }
        & .dropdown-icon {
          margin-right: 1rem;
        }
      }
    }

    /* ======== Nav Autht ======== */
    & .nav-auth {
      display: none;

      & button {
        font-size: 0.95rem;
      }
    }
  }
}

/* ========= DropDown ========= */

@media (min-width: 992px) {
  header {
    padding: 25px 40px;
    /* & .nav-auth {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    & nav {
      & .nav-mobile {
        display: none;
      }
    }

    & ul {
      margin-left: 4rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      position: relative;
    } */
  }
  header nav .nav-target ul {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
  }

  header nav .nav-auth {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header nav .nav-mobile {
    display: none;
  }
}
