.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 0;
}

.hero-container .hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.hero-wrapper .hero-text h2 {
  font-size: 2.5rem;
  color: var(--black);
}
.hero-wrapper .hero-text p {
  color: var(--gray);
  font-size: 1rem;
  padding-top: 2rem;
  line-height: 1.4;
}
.hero-grid .hero-action {
  padding: 2rem 0;
}
.hero-action button {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid;
}
.hero-action button:hover {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}

/* ======== Banner Client ========= */
.hero-grid .hero-banner {
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
.hero-banner .banner-icon {
  flex: 1;
}

/* Image */
.hero-grid .hero-image {
  width: 100%;
  height: auto;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}
.hero-image img {
  display: none;
}

@media (min-width: 922px) {
  .hero-container {
    padding: 20px 25px;
  }
  .hero-grid .hero-image .img-desktop {
    display: block;
  }
}

@media (max-width: 922px) {
  .hero-container .hero-wrapper {
    padding: 0 1rem;
  }
  .hero-container .hero-grid {
    grid-template-columns: 1fr;
  }
  .hero-grid .hero-image {
    order: -1;
  }
  .hero-grid .hero-image .img-mobile {
    display: block;
    object-fit: cover;
  }
  .hero-grid .hero-wrapper {
    margin-top: 3rem;
  }
}

@media (max-width: 500px) {
  .hero-grid .hero-banner {
    justify-content: space-between;
  }
  .hero-banner .banner-icon {
    flex: none;
  }
  .hero-wrapper .hero-text h2 {
    font-size: 2rem;
  }
  .hero-wrapper .hero-text h2 > br {
    display: none;
  }
  .hero-banner .banner-icon img {
    width: 70px;
  }
}

@media (max-width: 430px) {
  .hero-wrapper .hero-text h2 {
    font-size: 1.8rem;
  }
  .hero-banner .banner-icon img {
    width: 50px;
  }
}
