@import url("https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:wght@500;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;600;700&family=Lexend+Exa:wght@300&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Open+Sans&family=Outfit:wght@300;400&family=Overpass:wght@300;500&family=Poppins&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");

:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.btn-main {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 12px 25px;
  font-size: 1rem;
  color: var(--gray);
  text-transform: capitalize;
  transition: 0.3s all;
  border-radius: 0.8rem;
  background-color: transparent;
}
.btn-main:hover {
  color: var(--black);
}

.btn-outlined {
  border: 2px solid var(--gray);
}
